<div class="row">
    <div class="col-xs-12">
            <div class="panel-body">
                <div class="text-center">
                    <div class="list-group-item-heading">
                        <span class="text-uppercase">Todo: </span>
                        <input type="text" max="255" size="120" id="todo">
                        <button class="btn btn-success" (click)="addToList(todo)">Add</button>
                    </div>
                </div>
            </div>
    </div>
</div>